body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px;
    margin-top: 100px;
    grid-gap: 20px;
}

.grid-item {
    border-radius: 10px;
    margin-left: 20px;
    background-color: rgb(207, 207, 207);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 550px;
    width: 450px;
    font-size: 30px;
    text-align: center;
    min-width: auto;
}

img {
    border-radius: 10px;
    max-height: 350px;
}

.artichoke,
.black-bass,
.caviar,
.crab,
.filet-mignon,
.kampachi,
.langoustine,
.lobster,
.mesclun-salad,
.octopus,
.oester-uni,
.oester,
.red-snapper,
.salmon,
.scallop-caviar,
.scallop,
.shellfish-medley
.tasmanian-sea-trout,
.tuna,
.tuna-urchin,
.tapas {
    width: 448px;
    height: 328px;
    border: 1px solid black;
}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.increase {
    width: 30px;
    height: 30px;
    background-color: gray;
    border: 1px solid black;
}

.decrease {
    width: 30px;
    height: 30px;
    background-color: gray;
    border: 1px solid black;
}

#aantalArtichoke,
#aantalBlackBass,
#aantalCaviar,
#aantalCrab,
#aantalFiletMignon,
#aantalKampachi,
#aantalLangoustine,
#aantalLobster,
#aantalMesclunSalad,
#aantalOctopus,
#aantalOysterUni,
#aantalOyster,
#aantalRedSnapper,
#aantalSalmon,
#aantalScallopCaviar,
#aantalScallop,
#aantalShellfishMedley,
#aantalTasmanianSeaTrout,
#aantalTuna,
#aantalTunaUrchin,
#aantalTapas {
    width: 50px;
    height: 35px;
    border: 1px solid black;
}

#prijsArtichoke,
#prijsBlackBass,
#prijsCaviar,
#prijsCrab,
#prijsFiletMignon,
#prijsKampachi,
#prijsLangoustine,
#prijsLobster,
#prijsMeslunSalad,
#prijsOctopus,
#prijsOysterUni,
#prijsOyster,
#prijsRedSnapper,
#prijsSalmon,
#prijsScallopCaviar,
#prijsScallop,
#prijsShellfishMedley,
#prijsTasmanianSeaTrout,
#prijsTuna,
#prijsTunaUrchin,
#prijsTapas {
    width: 80px;
    height: 35px;
    border: 1px solid black;
}

.totaal {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
    background-color: rgb(207, 207, 207);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 200px;
    width: 1465px;
    font-size: 30px;
    text-align: center;
    min-width: auto;
}

.submit {
    border: 1px solid black;
    width: 125px;
    height: 50px;
    background-color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}